<a href="https://colab.research.google.com/github/5harad/DPI-617/blob/main/labs/intro_to_R_answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Law, Order, and Algorithms**
# Introduction to `R`

The computing language `R` is a powerful tool for statistical analysis. We'll explore some of it's basic features while exploring claims of double voting and the classic "birthday paradox." 

This tutorial is based on findings in the paper [One Person, One Vote: Estimating the Prevalence of Double Voting in U.S. Presidential Elections](https://5harad.com/papers/1p1v.pdf) by Goel et al. (2020). David Kestenbaum broke down the numbers in an [episode](https://www.thisamericanlife.org/630/things-i-mean-to-know/act-one-1) of This American Life.

**Getting started**

Before you start, create a copy of this Jupyter notebook in your own Google Drive by clicking `Copy to Drive` in the menubar. If you do not do this your work will not be saved! 

Remember to save your work frequently by pressing command-S or clicking File > Save in the menubar. 

We recommend completing this problem set in Google Chrome.

## Claims of voter fraud

Claims of voter fraud are widespread. Here's one example:

> **“Probably over a million people voted twice 
in [the 2012 presidential] election.”**
>
> Dick Morris, in 2014 on Fox News

**Double voting** occurs when a single person illegally casts more than one vote in an election.

To start, consider this fact:

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970. Among those 141 individuals, there were 27 pairs of people with exactly the same birthday.

Were there 27 fraudulent "John Smith" ballots in the 2012 election? Let's find out.

## The birthday problem

To begin answering this question, let's solve a similar problem: 

> In a room of 30 people, how likely is it that two people share exactly the same birthday? 
>
> You can assume that every person in the room was born in the same year.

To answer this question, we could use the following [Monte Carlo](https://en.wikipedia.org/wiki/Monte_Carlo_method) algorithm:
 > 1. We need a room of 30 people, and we need to know their birthdays.
 > 2. We need to check whether two people in that room share a birthday.
 > 3. We need to repeat steps 1 and 2 over and over.
 > 4. We need to figure out how often two or more people shared a birthday in our simulations.

## The `sample` command

Here's the first step of our algorithm:

> We need a room of 30 people, and we need to know their birthdays.

To do this in `R`, we could use the `sample` command, which works as follows:

> `sample(numbers to choose from, how many numbers to choose, whether to re-use numbers)`

Note: To learn more about an `R` function, enter `?<function_name>` into the console. For example, entering `?sample` will provide information about the `sample` command.

In [5]:
# To run code in a cell, you can either press SHIFT + ENTER, 
# or press the triangular play button that appears on the left
# when you cover over the cell.
#
# Note: the colon (`:`) symbol allows us to create lists of consecutive 
# integers from start:end.

sample(1:50, 5, replace = FALSE)

[1] 23  2 16 18  1

In [3]:
sample(50:60, 5, replace = TRUE)

[1] 60 50 60 55 57

In [4]:
# Why does this fail?
sample(1:5, 6, replace = FALSE)

ERROR: ignored

### Exercise

**Using `sample`, simulate a list of 30 random birthdays.**

In [6]:
# Your code goes here!

# START
sample(1:365, 30, replace = TRUE)
# END

 [1] 234 138 152 188 176  42 281  79 129 278 289   8  87   6  70 139  79 200 334
[20] 346 179 229  97 261  30  57 206 325 232 233

## Interlude: Basic operations, variables, and vectors

### Using R as a calculator

In [ ]:
5 + 10

[1] 15

In [ ]:
30 * 3

[1] 90

In [ ]:
25 / 5

[1] 5

In [ ]:
3 ^ 2

[1] 9

In [ ]:
(2 + 3) * 5

[1] 25

### Variable Assignment

While both `x <- 2` and `x = 2` will assign the value `2` to `x`, it is customary to use `<-` for variable assignment in `R`.

In [ ]:
x <- 2
x

[1] 2

In [ ]:
x = 2
x

[1] 2

### Vectors

Vectors are the building block of `R`. Even single digits and strings are technically vectors of length 1.

In [ ]:
print("hello")

[1] "hello"

The bracketed numbers on the left side of the printed results indicate the index of the element immediately to the right.

For example `[26]` indicates that `50` is the 26th element in the vector.

In [ ]:
print(25:75)

 [1] 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
[26] 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74
[51] 75

We can also use `c()` to create vectors. The "c" stands for **concatenate**.

In [ ]:
c(10, 100, 1000)

[1]   10  100 1000

We can index elements of vectors using `[ ]`.

**IMPORTANT NOTE**: Unlike other programming languages, R is _1-indexed_, not _0-indexed_. So, the first element in a vector is assigned an index of 1, not 0.

In [ ]:
my_vector <- c("Apple", "Banana", "Carrot", "Daikon")

In [ ]:
my_vector[1]

[1] "Apple"

We can optionally name elements of vectors:

In [ ]:
named_vector <- c(A = "Apple", B = "Banana", C = "Carrot", D = "Daikon")
named_vector['B']

       B
"Banana"

## Back to the birthday problem: Finding duplicates

The code below defines a new function, `has_duplicate`.

> `has_duplicate` returns `TRUE` if a vector contains any duplicate values, and FALSE otherwise.

`R` automatically returns the last line of every function. No need to call `return` explicitly.

In [ ]:
has_duplicate <- function(v) {
    any(duplicated(v))
}

In [ ]:
has_duplicate(c(1, 2, 3, 4, 5))

[1] FALSE

In [ ]:
has_duplicate(c(1, 2, 3, 4, 5, 5))

[1] TRUE

### Exercise

**Generate a vector of 30 random birthdays, and determine whether the vector has any duplicates. Run your code a couple times to get a sense of how frequently there is at least one duplicated birthday.**

In [ ]:
# Your code here!

# START
has_duplicate(sample(1:365, 30, replace = TRUE))
# END

[1] FALSE

### Counting duplicates

The code below defines another function, `num_pairs`.

`num_pairs` returns the number of pairs that can formed with duplicated values.

> Recall that we can form $\binom{n}{2}$ pairs from $n$ values, where
>
> $\binom{n}{2} = \frac{n(n-1)}{2}$

For example, the vector `c(1, 2, 3, 3)` has two 3s, so `num_pairs` should return $\binom{2}{2} = 1$. In other words, we can only make one pair of identical numbers.

The vector `c(1, 2, 3, 3, 3, 3)` has four 3s, so `num_pairs` should return $\binom{4}{2} = 6$.

The vector `c(1, 2, 3, 4, 5, 5, 5, 6, 6)` has three 5s and two 6s, so `num_pairs` should return $\binom{3}{2} + \binom{2}{2} = 4$.

In [ ]:
# don't worry about studying / understanding this specific function!
num_pairs <- function(v) {
    duplicated_indices <- duplicated(v)
    duplicated_values <- v[duplicated_indices]
    duplicated_counts <- table(duplicated_values) + 1
    sum(choose(duplicated_counts, 2))
}

In [ ]:
num_pairs(c(1, 2, 3, 3))

[1] 1

In [ ]:
num_pairs(c(1, 2, 3, 3, 3, 3))

[1] 6

In [ ]:
num_pairs(c(1, 2, 3, 4, 5, 5, 5, 6, 6))

[1] 4

### Exercise

**Think back to the John Smith example:**

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970. Among those 141 individuals, there were 27 pairs of people with exactly the same birthday.

**Generate a vector of 141 random birthdays, and determine how many duplicate pairs can be formed from elements in the vector.** Run your code repeatedly to see how the results can change due to randomness.

In [ ]:
# Your code here!

# START
num_pairs(sample(1:365, 141, replace = TRUE))
# END

[1] 22

### Repetition with `for` loops

Here's the third step in our algorithm:

> We need to repeat this process over and over.

Here's the syntax for a `for` loop with `R`:

> for (`element` in `vector`) { do something }

**Important note:** `for` loops are typically not the most efficient way to solve problems in `R`, but they are a handy tool for learning about iteration. Instead, it is best to use a vectorized function, such as `replicate` or `map`. We will see an example later on.

In [ ]:
for (i in 1:10) {
    print("Hello, world!")
}

[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"

In [ ]:
for (i in 1:3) {
    print(sample(1:20, 5, replace = TRUE))
}

[1] 15  5  1  6 16
[1]  7 14 19  4 18
[1]  7  6 14  5 16

## Interlude: Booleans and control flow

In [ ]:
9 == 10

[1] FALSE

In [ ]:
9 <= 10

[1] TRUE

In [ ]:
TRUE & FALSE

[1] FALSE

In [ ]:
T | F

[1] TRUE

In [ ]:
! TRUE

[1] FALSE

In [ ]:
counter <- 0

for (i in 1:5) {
    counter <- counter + 1
    print(counter)
    
    if (counter >= 3) {
        print("Counter is now bigger than or equal to 3!")
    }
    
    else {
        print("Counter is less than 3.")
    }
}

[1] 1
[1] "Counter is less than 3."
[1] 2
[1] "Counter is less than 3."
[1] 3
[1] "Counter is now bigger than or equal to 3!"
[1] 4
[1] "Counter is now bigger than or equal to 3!"
[1] 5
[1] "Counter is now bigger than or equal to 3!"

## Back to the birthday problem: Translating our algorithm into code

We're ready to come back to our algorithm:

> 1. We need a room of 30 people, and we need to know their birthdays.
> 2. We need to check whether two people in that room share a birthday.
> 3. We need to repeat this process over and over.
> 4. We need to figure out how frequently two or more people shared a birthday in our simulations.

### Exercise

**Translate our algorithm into code to solve the birthday problem!**

In [ ]:
# Your code here!

# START
# This is the total number of birthday vectors we will generate
n <- 1000

# This is a counter to keep track of how many vectors had at least one duplicate birthday
n_with_duplicates <- 0

# Each time we see a vector with at least one duplicate, we should increment our counter
for (i in 1:n) {
    
    if (has_duplicate(sample(1:365, 30, replace = TRUE))) {
        
        n_with_duplicates <- n_with_duplicates + 1
    }
    
}

# Fraction of vectors with at least one duplicate
n_with_duplicates / n
# END

[1] 0.695

### Exercise A

**Increase the number of people in the room, and re-run the code several times. What happens to the probability of getting a duplicate?**

Write your answer by double clicking on this text!

### Exercise B

**Decrease the number of simulated rooms to 100, and re-run the code several times. What happens to the results?**

Write your answer by double clicking on this text!

### Exercise C

**Increase the number of simulated rooms to 100,000, and re-run the code several times. What happens to the results?**

Write your answer by double clicking on this text!

### Exercise D

**How many people do we need in a room so that there's an approximately 50% chance of a match?**

Write your answer by double clicking on this text!

## Circling back to double voting

Remember our original problem:

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970. Among those 141 individuals, there were 27 pairs of people with exactly the same birthday.

### Exercise

**Modify the simulation code to calculate the average number of duplicate birthday pairs across 1,000 vectors of 141 individuals.**

How does your answer compare to the 27 birthday pairs we found in the real data?

In [ ]:
# Your code here!

# START
n <- 1000

n_pairs <- 0

for (i in 1:n) {
    
    n_pairs <- n_pairs + num_pairs(sample(1:365, 141, replace = TRUE))
    
}

n_pairs / n
# END

[1] 27.191

## Solving the problem with _math_

We took a bit of a meandering path to solve this problem. But don't worry, it was about the journey, not the destination!

A more direct route starts by observing that for a random pair of people, there's about a 1 in 365 chance that they share the same birthday (month and day, not year). That's because the first person is born on some day, say June 12, and the second person is about equally likely to be born on any day of the year, so, in particular, they have about a 1 in 365 chance of being born on June 12 (or whatever day the first person was born on).

Now, in room of 141 people, the number of _pairs of people_ is:

> $\binom{141}{2} = \frac{141\cdot140}{2} = 9,870$.

Finally, since each pair has about 1 in 365 chance of being a match, we expect

> $\frac{141\cdot140}{2} \cdot \frac{1}{365} \approx 27$ matches.

In [ ]:
(141 * 140 / 2) * 1/365

[1] 27.0411